#árak {
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

#pricesTable {
  margin-top: 10px;
  margin-inline: auto;
  width: 92%;
  padding-bottom: 100px;
}
#pricesTable tr {
  display: flex;
}
#pricesTable td {
  border-bottom: 1px solid rgb(97, 97, 97);
  margin-top: 2px;
  text-decoration: none !important;
}

#pricesTable td:nth-child(even) {
  width: 60%;
  text-align: end;
  color: rgb(97, 97, 97);
}
#pricesTable td:nth-child(odd) {
  text-align: start;
  width: 90%;
  line-height: 22px;
  /* margin-right: 200px; */
}

@media screen and (min-width: 780px) {
  #pricesTable {
    width: 60%;
    padding-bottom: 80px;
  }
  #pricesTable td {
    margin-top: 8px;
  }
}
