
header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    z-index: 4;
}

#hederUl {
    display: flex;
    list-style: none;gap: 30px; 
    /* border: 1px solid black; */
    min-width: 300px;
    margin-right: 20px;
}
#logo 
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#hederUl li {
gap: 30px;
}
#hederUl a {
    text-decoration: none;
    
}

.logo{
    height: 80px;
    margin: 5px;
}