
header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

#hederUl {
    display: flex;
    list-style: none;gap: 30px; 
    border: 1px solid black;
    min-width: 300px;
    margin-right: 20px;
}
#logo 
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#hederUl li {
gap: 30px;
}
#hederUl a {
    text-decoration: none;
    
}
