html {
    /* background-color: rgb(69, 69, 69); */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h2
{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #282828;
}h3
{
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    color: #282828;
   
}

section
{
    min-height: 90vh;
    width: 70%;
    /* border: 1px solid black; */
    margin-inline: auto;
}