::-moz-selection {
  background: #f2d7a9;
}

::selection {
  background: #171717;
  background: #f2d7a9;
}

html {
  /* background-color: rgb(69, 69, 69); */
  font-family: "Open-Sans", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #282828;
}
h3 {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  color: #282828;
}

section {
  min-height: 40vh;
  width: 90%;
  margin-inline: auto;
  text-align: justify;
}

section:last-child {
  padding-bottom: 500px;
}
section p {
  color: #393c41;
}
hr {
  border: none;
  border-top: 1px solid black;
}
#gyerekeknek::before {
  content: "";
  display: block;
  height: 1px;
  margin: 40px 0 0;
}
#időpontok::before {
  content: "";
  display: block;
  height: 30px;
  margin: -30px 0 0;
}
#árak::before {
  content: "";
  display: block;
  height: 30px;
  margin: -30px 0 0;
}

@media screen and (min-width: 780px) {
  section {
    min-height: 50vh;
    width: 65%;
  }

  section::before {
    content: "";
    display: block;
    height: 30px;
    margin: -40px 0 0;
  }
  #időpontok::before {
    content: "";
    display: block;
    height: 100px;
    margin: -30px 0 0;
  }
  #árak::before {
    content: "";
    display: block;
    height: 100px;
    margin: -30px 0 0;
  }
}
